@using SimpleCRUD.Services

@inject AuthenticationStateProvider AuthProvider
@inject IAccessLevelAuthorizationService AccessLevelAuthorizationService

@if (isAuthorized)
{
    @ChildContent
}
else if (NotAuthorized is not null)
{
    @NotAuthorized
}
else if (!HideDefaultNotAuthorized)
{
    <p class="text-danger">You are not authorized to view this page.</p>
}

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? NotAuthorized { get; set; }

    // New parameter: allows "User", "Admin", "SuperAdmin", "System", default = "User"
    [Parameter] public string MinimumAccessLevelName { get; set; } = "User";

    [Parameter] public bool HideDefaultNotAuthorized { get; set; }

    private bool isAuthorized = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        isAuthorized = await AccessLevelAuthorizationService.IsAuthorizedAsync(
            authState.User,
            MinimumAccessLevelName);
    }
}
