@page "/Account/RegistrationPending"

<h3>Registration Pending</h3>
<p>Your registration request has been submitted. Once an administrator reviews and approves your account, you’ll be notified via email.</p>
